!apps/*/src/**/*.spec.js
!apps/*/src/**/*.test.js
!apps/*/src/vite-env.d.ts
!packages/shared/src/**/*.spec.js
!packages/shared/src/**/*.test.js
!packages/shared/src/vite-env.d.ts
*.config.base.d.ts
*.tsbuildinfo
.cache/
.cspellcache
.DS_Store
.env
.eslintcache
.rumdl_cache/
.vite/
/tmp
apps/*/cypress/screenshots/
apps/*/src/**/*.d.ts
apps/*/src/**/*.js
coverage/
cspell-words-missing.txt
dist/
node_modules/
packages/shared/src/**/*.d.ts
packages/shared/src/**/*.js
sonar-report.xml
test-results/
