public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*quasar*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*rollup*
